.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex: 4;
  max-height: 14%;
}

.profile-div {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  gap: 3%;
}

.time {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-color);
  border-radius: 50px;
  background-color: var(--side-bar-background-color);
  border: 1px solid transparent;
}

.profile-icon span {
  font-size: 30px;
}

.profile-icon:hover {
  border: 1px solid var(--side-bar-background-color);
  color: var(--side-bar-background-color);
  background-color: var(--body-color);
  cursor: pointer;
}
