.task-button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8%;
  background-color: white;
  border: none;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: var(--header-button-box-shadow);
}

.task-button:hover {
  background-color: #efefef;
  border-color: #efefef;
}

.task-buttontton:active {
  background-color: #dcdcdc;
  border-color: #dcdcdc;
  box-shadow: var(--header-button-box-shadow);
}

.task-button .icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 30px;
  border: 1px solid transparent;
}
