:root {
  --body-color: #f5f5f5;
  --side-bar-background-color: #171717;
  --side-bar-font-color: rgba(243, 244, 246, 1);
  --side-bar-button-color: #e47b44;
  --task-card-color: #ffffff;
  --bending-task-color: #f59866;
  --completed-task-color: #71bea5;
  --today-task-color: #94a7fc;
  --sign-icon-border: rgba(156, 163, 175, 1);
  --invalid-input-color: #f87171;
  --invalid-input-background-color:#fed2d2;
  --invalid-input-border-color:#f73f3f;
  --header-button-box-shadow:rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--body-color);
  font-family: "Noto Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
