.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--side-bar-background-color);
  color: var(--side-bar-font-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 0.8;
}

.nav-bar-inside-div-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 98%;
  gap: 3em;
  height: 95vh;
}
