.create-task-div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.create-task-div form {
    width: 380px;
    height: 450px;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    gap: 4%;
}