.task-status-container {
  width: 100%;
  max-height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.task-status-inside-div {
  display: flex;
  align-items: center;
  max-width: 98%;
  gap: 5%;
}

.status-card {
  width: 380px;
  height: 190px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 77px;
  background-color: var(--task-card-color);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 12px;
}

.task-card-icons-div {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 0px 30px 0px 0px;
  border-top-left-radius: 34em;
  border-top-right-radius: 20em;
}

.status-card span {
  width: 70px;
  height: 70px;
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: var(--side-bar-font-color);
}

#pending {
  background-color: var(--bending-task-color);
}
#completed {
  background-color: var(--completed-task-color);
}
#yet-to-finish-today {
  background-color: var(--today-task-color);
}

.status-content {
  width: 90%;
  height: 30%;
  gap: 5%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.status-content h1 {
  font-size: 45px;
}
