.schedule-task-div-container {
  display: flex;
  justify-content: center;
  flex: 1;
}
.schedule-task-inside-div {
  display: flex;
  align-items: center;
  width: 99%;
  flex-direction: column;
  gap: 2em;
}
.schedule-filter-options-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
}

.schedule-fileter-options-inside-div {
  display: flex;
  align-items: center;
  width: 99%;
  gap: 8%;
}

.schedule-fillter-button {
  background: none;
  border: none;
  padding: 7px;
  font-size: 0.875rem;
  color: #636269;
  font-family: inherit;
  background-color: var(--task-card-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.67em;
}

.list-day-month-filter-button-div,
.complete-incomplete-filter-button-div {
  display: flex;
  border-radius: 7px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  button {
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    + button {
      border-left: 1px solid rgb(231 234 242);
    }
  }
}

.filter-button-span {
  width: max-content;
}

.task-showing-div-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.task-showing-inside-div-container {
  display: flex;
  align-items: center;
  width: 99%;
  flex-direction: column;
  box-shadow: var(--task-table-box-shadow);
  border-radius: 0.78em;
}

/* task head */
.task-data-common-div {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-data-common-inside-div {
  display: flex;
  align-items: center;
  flex: 1;
}

.task-head-div-container {
  background-color: var(--task-table-head-background-color);
  height: 2.8em;
  border-radius: 0.78em 0.78em 0em 0em;
}

.task-data-common-inside-div {
  div {
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    + div {
      border-left: 1px solid var(--sign-icon-border);
    }
  }
}
.column-div {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.task-head,
.task-data {
  margin: 0;
  padding: 0;
}

.task-data-showing-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.task-data-showing-inside-div {
  display: flex;
  align-items: center;
  flex: 1 1;
  height: 34.375em;
  overflow-y: scroll;
  flex-direction: column;
}

.task-data-showing-inside-div::-webkit-scrollbar {
  display: none;
}
.task-data-div-container {
  margin-top: 0.5em;
  box-shadow: var(--each-task-card-box-shadow);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 99.3%;
  border-radius: 0.4em;
  cursor: pointer;
}

.task-data-div-container:hover {
  background-color: rgba(81, 81, 87, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.task-data-inside-div {
  padding: 0.5em 0.3em;
  display: flex;
  flex: 1;
  align-items: center;
}

.data-div {
  border: none;
}
.task-data {
  font-size: 14px;
}

/* search input css */

.task-search-div-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.task-search-input-inside-div {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

#task-search-input {
  width: 100%;
  height: 34px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var( --task-card-color);
  color: #0d0c22;
  transition: 0.3s ease;
}

#task-search-input::placeholder {
  color: #9e9ea7;
}

#task-search-input:focus,
#task-search-input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.task-search-icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
